* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
}
body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  font-size: 16rem;
}
h1,
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 500;
}
/* aloe */
.article__header,
.article__content {
  max-width: 1000rem;
  margin: 0 auto;
  padding: 64rem 48rem ;
}
.backlink {
  color: #5c5c66;
  padding: 3rem 6rem;
  font-weight: 500;
}
.backlink::before {
   content: "← ";
}
img {
  width: 1000rem;
}